
.two-columns__span-accent {
  font-weight: bolder;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-wrap:wrap;
}

.header_column {
  display: flex;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.logo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:228px;
  height:32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  top:30px;
  left:64px;
  position: absolute;
  order:1;
  z-index: 2;
}

.header__title {
  position: relative;
  width:730px;
  font-size:102px;
  line-height:96px;
  margin-left:64px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  line-height:25px;
  font-size:18px;
  bottom:30px;
  left:64px;
  margin-top: 0;
  margin-bottom: 0;
  width:388px;
  z-index: 2;
  font-weight: normal;
}
.header__link {
  text-decoration: none;
}

:link {
  color: #2f80ed; 
 }
:visited {
  color: #900060; 
 }

.header__main-illustration {
  position: absolute;
  right:0;
  bottom:0;
  background-image: url(../images/two_again.png);
  width:765px;
  height:608px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:1;
  max-width:50%;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top:64px;
  right:0;
}

.description {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  position: relative;
  
}
.two-columns {
  margin-bottom:100px;
  width:80%;
  min-width: 784px;
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  margin-top: 0;
  margin-bottom: 0;
  width: 175px;
  color:#2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  left: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 0;
  row-gap: 30px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.digits {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
}

.section-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  line-height:1.15;
  font-size:60px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.section-subtitle {
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
  line-height:34px;
  font-size:24px;
  margin-top:20px;
  text-align: center;
  z-index: 1;
}

.table {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  position:relative;
  margin-left: auto;
  margin-right:auto;
  width:1100px;
  justify-content: space-between;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  box-sizing: border-box;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  position: relative;
  min-height: 890px;
}

.feynman__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height:1.15;
  font-size:120px;
  font-weight: 600;
  z-index: 1;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  margin-left: auto;
  text-align: right;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.kaufman {
  color: white;
  background-color:#1f1f1f;
  overflow:hidden;
  position: relative;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width:877px;
  height:877px;
  position: absolute;
  background-repeat: no-repeat;
  right:-210px;
  top:0;
  background-size: cover;
}

.section-title_theme_dark {
  padding-top: 90px;
  text-align: center;
  z-index: 1;
}

.section-subtitle_theme_dark {
  text-align: center;
  z-index: 1;
}
.table_theme_dark {
  padding-bottom: 90px;
  grid-auto-flow: row;
}

.table__cell_theme_dark {
  width: 200px;
  max-width: 200px;
  margin-top: 80px;
}



.footer {
  padding-top:60px;
  padding-bottom:40px;
  background-color: #1f1f1f;
  color:white;
  min-height:350px;
  box-sizing: border-box;
}

.footer__columns {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  min-height:250px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 711px;
}


.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  min-height: 250px;
}

.footer__author {
  line-height:25px;
  font-size:18px;
  margin-bottom:18px;
  margin-top: auto;
  padding: 0;
}

.footer__social-icon {
  width:16px;
  height:16px;
  margin-right: 10px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column_content_info {
  line-height:30px;
  font-size:18px;
}

.footer__column-heading {
  line-height: 30px;
  font-weight:600;
  margin-bottom:20px;
  font-size: 18px;
  margin-left: 0;
  margin-top: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0em;
}